{% extends 'base.html.twig' %}

{% set bank_param = bank is defined and bank is not empty ? bank : '' %}
{% set search_param = search is defined and search is not empty ? search : '' %}

{% set status_param = status is defined and status is not empty ? status : '' %}

{% set start_param = start is defined and start is not empty ? start : '' %}
{% set end_param = end is defined and end is not empty ? end : '' %}
{% set category_param = category is defined and category is not empty ? category : '' %}

{% block title %}Cash Flow{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-home"></i>
                </span> Cash Flow Europe
                </h3>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">

                            <form class="form-sample" action="{{ path('app_cash_flow_filter') }}" method="POST">
                                <input type="hidden" name="currency" value="EUR">
                                <p class="card-description"> Filter </p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Search</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="search"
                                                value="{{ search_param }}"/>
                                            </div>
                                        </div>
                                    </div>

                                        <label class="col-sm-1 col-form-label">Bank</label>
                                        <div class="col-sm-2">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="bank" value="Revolut"
                                                    {% if bank_param == "Revolut" %}
                                                        checked
                                                    {% endif  %}
                                                    > Revolut </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="bank" value="Wise"
                                                            {% if bank_param == "Wise" %}
                                                                checked
                                                            {% endif  %}
                                                    > Wise </label>
                                            </div>
                                        </div>

                                    <div class="col-sm-2">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="bank" value=""
                                                        {% if bank_param == "" %}
                                                            checked
                                                        {% endif  %}
                                                > All </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Start</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" name="start" value="{{ start_param }}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">End</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" name="end" value="{{ end_param }}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-sm-1 col-form-label">Status</label>
                                    <div class="col-sm-2">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="status" value="Deposit"
                                                        {% if status_param == "Deposit" %}
                                                            checked
                                                        {% endif  %}
                                                > Deposit </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="status" value="Out"
                                                        {% if status_param == "Out" %}
                                                            checked
                                                        {% endif  %}
                                                > Out </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="status" value=""
                                                        {% if status_param == "" %}
                                                            checked
                                                        {% endif  %}
                                                > All </label>
                                        </div>
                                    </div>

                                </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Category</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="category">
                                                        <option></option>
                                                        {% for category in categories %}
                                                            <option value="{{ category.idTypeFlow }}"
                                                                        {% if category.idTypeFlow == category_param %}
                                                                            selected
                                                                        {% endif %}
                                                            >{{ category.title }}</option>
                                                        {% endfor %}

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-dribbble">Search</button>
                                    </div>
                                </div>
                                <br>

                            </form>

                            <h4 class="card-title">List of cash inflows and outflows Europe</h4>
                            <p class="card-description"> <code>
                                    <a href="{{ path('create_cash_flow') }}" class="badge badge-gradient-dark">+ADD</a>
                                </code>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Value</th>
                                    <th>Description</th>
                                    <th>Bank</th>
                                    <th>Category</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set totalDeposits = 0 %}
                                {% set totalWithdrawals = 0 %}
                                {% for cashFlow in cashFlows %}
                                    <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                                        <td>{{ cashFlow.idCashFlow }}</td>
                                        <td>{{ cashFlow.type == 'Out' ? '' : '+' }}
                                            {{ cashFlow.value }}</td>
                                        <td>{{ cashFlow.description|slice(0, 50) }}</td>
                                        <td>{{ cashFlow.bank }}</td>
                                        <td>   {% if cashFlow.getTypeFlow() is null %}

                                            {% else %}
                                                {{ cashFlow.getTypeFlow().title }}
                                            {% endif %}</td>
                                        <td>{{ cashFlow.date|date('d M Y H:i') }}</td>
                                        <td>
                                            {% if cashFlow.type == 'Deposit' %}
                                                {% set totalDeposits = totalDeposits + cashFlow.value %}
                                                <label class="badge badge-success">Deposit</label>
                                            {% elseif cashFlow.type == 'Out' %}
                                                {% set totalWithdrawals = totalWithdrawals - cashFlow.value %}
                                                <label class="badge badge-danger">Out</label>
                                            {% else %}
                                                <label class="badge badge-warning">Others</label>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('edit_cash_flow', {'id': cashFlow.idCashFlow}) }}" class="badge badge-gradient-info">Edit</a>
                                            <a href="{{ path('delete_cash_flow', {'id': cashFlow.idCashFlow}) }}" class="badge badge-gradient-danger">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <tfoot>
                            <tr>
                                <br>
                                <td colspan="4"></td>
                                <td><strong style="color: green;">Total Deposits: £ {{ totalDeposits|number_format(2, ',', '.')  }}</strong></td><br><br>
                                <td><strong style="color: red;">Total Withdrawals: £ {{ totalWithdrawals|number_format(2, ',', '.')  }}</strong></td><br><br>
                                <strong style="color: black;">
                                    Total : £
                                    {% set total = (totalDeposits - totalWithdrawals) %}
                                    {{ total|number_format(2, ',', '.') }}

                                </strong><br><br>
                                <td><strong style="color: blue;">Total shipped to Brazil: R$ {{total_real}} </strong></td><br><br>
                            </tr>
                            </tfoot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
