{% extends 'base.html.twig' %}

{% block title %}{% if title is defined %}{{ title }}{% endif %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset(path ~'vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'vendors/css/vendor.bundle.base.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'vendors/jquery-bar-rating/css-stars.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'css/demo_1/style.css')}}">
    <link rel="shortcut icon" href="{{ asset(path ~'images/favicon.png')}}" />
{% endblock %}

{% block body %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Dashboard
            </h3>
        </div>
        <div class="row">
            <div class="col-md-2 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        <img src="{{ asset(path ~'images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">Aprovados <i class="mdi mdi-check-circle mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">{{ aprovado }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-2 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <img src="{{ asset(path ~'images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">Recusados<i class="mdi mdi-deviantart mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">{{ reprovado }}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-2 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                    <div class="card-body">
                        <img src="{{ asset(path ~'images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">Sob análise<i class="mdi mdi-message-processing mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">{{ ana }}</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ asset(path ~'vendors/js/vendor.bundle.base.js')}}"></script>
    <script src="{{ asset(path ~'js/off-canvas.js')}}"></script>
    <script src="{{ asset(path ~'js/hoverable-collapse.js')}}"></script>
    <script src="{{ asset(path ~'js/misc.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
{% endblock %}
