{% extends 'base_client.html.twig' %}

{% block css %}

    <link rel="stylesheet" href="{{ asset(path ~'vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'vendors/css/vendor.bundle.base.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'css/demo_1/style.css')}}">
    <link rel="shortcut icon" href="{{ asset(path ~'images/favicon.ico')}}" />

{% endblock %}

{% block title %} {{ title }}{% endblock %}

{% block body %}

    <div class="main-panel">
    <div class="content-wrapper">
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center text-center error-page bg-info">
            <div class="row flex-grow">
                <div class="col-lg-7 mx-auto text-white">
                    <div class="row align-items-center d-flex flex-row">
                        <div class="col-lg-6 text-lg-right pr-lg-4">
                            <h1 class="display-1 mb-0">500</h1>
                        </div>
                        <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                            <h2>SORRY!</h2>
                            <h3 class="font-weight-light">Internal server error!</h3>

                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 text-center mt-xl-2">
                            <a href="{{ path('client_dashboard') }}">Back to home</a>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 mt-xl-2">
                            <p class="text-white font-weight-medium text-center"> <h3 class="font-weight-light">{{ error }}</h3></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

    </div>
    </div>
<script src="{{ asset(path ~'vendors/js/vendor.bundle.base.js')}}"></script>
<script src="{{ asset(path ~'js/off-canvas.js')}}"></script>
<script src="{{ asset(path ~'js/hoverable-collapse.js')}}"></script>
<script src="{{ asset(path ~'js/misc.js')}}"></script>
<script src="{{ asset(path ~'js/settings.js')}}"></script>
<script src="{{ asset(path ~'js/todolist.js')}}"></script>
<script src="{{ asset(path ~'js/jquery.cookie.js')}}"></script>
<script src="{{ asset(path ~'js/vendor.bundle.base.js')}}"></script>
<script src="{{ asset(path ~'vendors/dropify/dropify.min.js')}}"></script>
<script src="{{ asset(path ~'js/dropify.js')}}"></script>
{% endblock %}