{% extends 'base.html.twig' %}

{% set bank_param = bank is defined and bank is not empty ? bank : '' %}
{% set search_param = search is defined and search is not empty ? search : '' %}

{% set status_param = status is defined and status is not empty ? status : '' %}

{% set start_param = start is defined and start is not empty ? start : '' %}
{% set end_param = end is defined and end is not empty ? end : '' %}
{% set type_param = type is defined and type is not empty ? type : '' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-home"></i>
                </span> {{ title }}
                </h3>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">

                            <form class="form-sample" action="{{ path('app_investment_filter') }}" method="POST">
                                <input type="hidden" name="currency" value="BRL">
                                <p class="card-description"> Filter </p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Search</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="search"
                                                       value="{{ search_param }}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <label class="col-sm-1 col-form-label">Bank</label>
                                    <div class="col-sm-2">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="bank" value="Nubank"
                                                        {% if bank_param == "Nubank" %}
                                                            checked
                                                        {% endif  %}
                                                > Nubank </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="bank" value=""
                                                        {% if bank_param == "" %}
                                                            checked
                                                        {% endif  %}
                                                > All </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Start</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" name="start" value="{{ start_param }}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">End</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" name="end" value="{{ end_param }}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Type</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="type"
                                                       value="{{ type_param }}"/>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-dribbble">Search</button>
                                    </div>
                                </div>
                                <br>

                            </form>

                            <h4 class="card-title">{{ title }}</h4>
                            <p class="card-description"> <code>
                                    <a href="{{ path('app_invest_register_view') }}" class="badge badge-gradient-dark">+ADD</a>
                                </code>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Amount</th>
                                    <th>Tax</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                    <th>Bank</th>
                                    <th>Date</th>

                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set totalIncome = 0 %}
                                {% set totalTax = 0 %}
                                {% for investment in investments %}

                                    {% set totalIncome = totalIncome + investment.amount %}
                                    {% set totalTax = totalTax - investment.tax %}

                                    <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">

                                        <td>{{ investment.idInvestment }}</td>
                                        <td>+{{ investment.amount }}
                                        <td>-{{ investment.tax }}</td>
                                        <td>{{ investment.type }}</td>
                                        <td>{{ investment.description|slice(0, 100) }}</td>
                                        <td>{{ investment.bank }}</td>
                                        <td>{{ investment.date|date('d M Y H:i') }}</td>
                                        <td>
                                            <a href="{{ path('edit_cash_flow', {'id': investment.idInvestment}) }}" class="badge badge-gradient-info">Edit</a>
                                            <a href="{{ path('delete_investment', {'id': investment.idInvestment}) }}" class="badge badge-gradient-danger">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <tfoot>
                            <tr>
                                <br>
                                <td colspan="4"></td>
                                <td><strong style="color: green;">Total Investment: R$ {{ total|number_format(2, ',', '.')  }}</strong></td><br><br>
                                <td><strong style="color: green;">Total Income: R$ {{ totalIncome|number_format(2, ',', '.')  }}</strong></td><br><br>
                                <td><strong style="color: red;">Total Tax: R$ {{ totalTax|number_format(2, ',', '.')  }}</strong></td><br><br>
                                <strong style="color: black;">
                                    Total Gross : R$
                                    {% set total = (totalIncome - totalTax) %}
                                    R$ {{ total|number_format(2, ',', '.') }}

                                </strong><br><br>
                            </tr>
                            </tfoot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
