{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block css %}

    <link rel="stylesheet" href="{{ asset(path ~'vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'vendors/css/vendor.bundle.base.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'css/style.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'vendors/dropify/dropify.min.css')}}">
    <link rel="shortcut icon" href="{{ asset(path ~'images/favicon.ico')}}" />
{% endblock %}

{% block body %}

    <div class="main-panel">
        <div class="content-wrapper">
            {%  if error is defined %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ type_error }}</strong> {{ message_error}}
                </div>
            {% endif %}

            <div class="row">

                <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card">
                    <div class="card">

                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <i class="mdi mdi-format-list-numbered icon-lg text-success d-flex align-items-center"></i>
                                <div class="d-flex flex-column ms-4">
                                    <div class="d-flex flex-column">
                                        <a href="{{ path('app_policy', {'id': object.idClient}) }}">  <p class="mb-0">Apolices</p></a>
                                        <h4 class="font-weight-bold">2</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ title }}</h4>
                        <form class="form-sample" action="{{ path('app_admin_client_persist_edit', { 'id': object.IdClient} ) }}" method="POST">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Nome</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="first_name" required  value="{{ object.firstName }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Sobrenome</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="last_name" required value="{{ object.lastName }}"/>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">CPF/CNPJ</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="document" required  value="{{ object.document }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">RG</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="rg" required value="{{ object.rg }}"/>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Data de nascimento</label>
                                        <div class="col-sm-6">
                                            <input type="date" class="form-control" name="date" required  value="{{ object.dateOfBirth | date('Y-m-d') }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" name="email" required  value="{{ object.email }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Celular</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="cellphone" required  value="{{ object.cellphone }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Telefone:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="phone" required  value="{{ object.phone }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Outro Telefone de contato:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="other_phone" required  value="{{ object.otherPhone }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">CEP</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="cep" id="cep" required  value="{{ address[0].cep }}" oninput="consultarCEP()"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Estado</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="state" id="state" required  value="{{ address[0].state }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Cidade</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="city" id="city" required  value="{{ address[0].city }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Bairro</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="neighborhood" id="neighborhood" required  value="{{ address[0].neighborhood }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Endereco</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="address" id="address" required  value="{{ address[0].address }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Numero</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="number" required  value="{{ address[0].number }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Referencia</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="reference" required  value="{{ address[0].reference }}"/>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset(path ~'vendors/js/vendor.bundle.base.js')}}"></script>
    <script src="{{ asset(path ~'js/off-canvas.js')}}"></script>
    <script src="{{ asset(path ~'js/hoverable-collapse.js')}}"></script>
    <script src="{{ asset(path ~'js/misc.js')}}"></script>
    <script src="{{ asset(path ~'js/settings.js')}}"></script>
    <script src="{{ asset(path ~'js/todolist.js')}}"></script>
    <script src="{{ asset(path ~'js/jquery.cookie.js')}}"></script>
    <script src="{{ asset(path ~'js/vendor.bundle.base.js')}}"></script>
    <script src="{{ asset(path ~'vendors/dropify/dropify.min.js')}}"></script>
    <script src="{{ asset(path ~'js/dropify.js')}}"></script>

    <script>
        function formatarCpfCnpj(valor) {
            valor = valor.replace(/\D/g, '');

            if (valor.length === 11) {
                return valor.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
            } else if (valor.length === 14) {
                return valor.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, '$1.$2.$3/$4-$5');
            } else {
                return valor;
            }
        }

        function aplicarMascara() {
            var campo = document.getElementById('document');
            campo.value = formatarCpfCnpj(campo.value);
        }

        function formatRG(valor) {
            valor = valor.replace(/\D/g, '');
            return valor.replace(/^(\d{2})(\d{3})(\d{3})(\d{1})$/, '$1.$2.$3-$4');

        }

        function aplicarMascaraRG() {
            var campo = document.getElementById('rg');
            campo.value = formatRG(campo.value);
        }

    </script>


    <script>
        function consultarCEP() {
            // Obtém o valor do CEP digitado pelo usuário
            var cep = document.getElementById('cep').value;


            if (cep.length >= 8) {
                // Monta a URL da API do ViaCEP com o CEP fornecido
                var url = 'https://viacep.com.br/ws/' + cep + '/json/';

                // Faz a requisição AJAX
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        // Parseia a resposta JSON
                        var resposta = JSON.parse(xhr.responseText);

                        // Atualiza os campos no HTML com os dados do CEP
                        document.getElementById('address').value = resposta.logradouro;
                        // document.getElementById('complemento').value = resposta.complemento;
                        document.getElementById('neighborhood').value = resposta.bairro;
                        document.getElementById('city').value = resposta.localidade;
                        document.getElementById('state').value = resposta.uf;
                    }
                };

                xhr.open('GET', url, true);
                xhr.send();
            }
        }
    </script>

{% endblock %}