{% extends 'base_client.html.twig' %}

{% block title %}{% if title is defined %}{{ title }}{% endif %}{% endblock %}

{% block body %}

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">

            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <a class="nav-link" href="{{ path('client_policy_open', {'id': policy.idPolicy}) }}">
                                    <i class="mdi mdi-dialpad text-primary d-flex align-items-center"></i>
                                </a>
                                <div class="d-flex flex-column ms-4">
                                    <div class="d-flex flex-column">
                                        <p class="mb-0">{{ policy.getTypeRoofing().title }}</p>
                                        <h4 class="font-weight-bold">{{ policy.number }}</h4>
                                        <small class="text-muted">{{ policy.getModelPhone().title }} {{ policy.getCapacity().title }} {{ policy.getColor().title }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if theftStatus == true %}


                        {% if theft.status == 'Negado' %}

                            {% set color = "danger" %}

                        {% elseif theft.status == 'Aprovado' %}

                            {% set color = "success" %}

                        {% else %}

                        {% set color = "info" %}

                        {% endif %}

                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <div class="d-flex flex-column ms-6">
                                    <div class="card bg-gradient-{{ color}} card-img-holder text-white">
                                        <div class="card-body">
                                            <h4 class="font-weight-normal mb-3">{{ theft.status }}</h4>
                                            <small class="text-muted">{{ theft.response }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                </div>


            {% if theftStatus == false %}
            <div class="row">
                <form  action="{{ path('policy_create_theft', {'id': policy.idPolicy}) }}" method="POST" >
                    <button type="submit" class="btn btn-gradient-dark btn-fw">+ Adicionar</button>
                </form>
            </div>

            {% else %}

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ title }}</h4>
                            <form class="form-sample" action="" method="POST">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Descrição do que aconteceu</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" id="exampleTextarea1" rows="6" name="desc" required disabled>
                                                    {{ theft.description }}
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Data da ocorrência</label>
                                            <div class="col-sm-6">
                                                <input type="date" class="form-control" name="date_o" required value="{{ theft.dateOccurrence | date('Y-m-d') }}" disabled/>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Email</label>
                                            <div class="col-sm-6">
                                                <input type="email" class="form-control" name="email" required  value="{{ policy.getClient().email }}" disabled/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Celular</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="cellphone" required  value="{{ policy.getClient().cellPhone }}" disabled/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Telefone:</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="phone" required  value="{{ policy.getClient().phone }}" disabled/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Outro Telefone de contato:</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="other_phone" required  value="{{ policy.getClient().otherPhone }}" disabled/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">CEP</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="cep" id="cep" required  value="{{ address[0].cep }}" oninput="consultarCEP()" disabled/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Estado</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="state" id="state" required  value="{{ address[0].state }}" disabled/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Cidade</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="city" id="city" required  value="{{ address[0].city }}" disabled/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Bairro</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="neighborhood" id="neighborhood" required  value="{{ address[0].neighborhood }}" disabled/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Endereco</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="address" id="address" required  value="{{ address[0].address }}" disabled/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Numero</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="number" required  value="{{ address[0].number }}" disabled/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Referencia</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="reference" required  value="{{ address[0].reference }}" disabled/>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>


            {% endif %}
        </div>
    </div>

    <script>
        function formatarCpfCnpj(valor) {
            valor = valor.replace(/\D/g, '');

            if (valor.length === 11) {
                return valor.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
            } else if (valor.length === 14) {
                return valor.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, '$1.$2.$3/$4-$5');
            } else {
                return valor;
            }
        }

        function aplicarMascara() {
            var campo = document.getElementById('document');
            campo.value = formatarCpfCnpj(campo.value);
        }

        function formatRG(valor) {
            valor = valor.replace(/\D/g, '');
            return valor.replace(/^(\d{2})(\d{3})(\d{3})(\d{1})$/, '$1.$2.$3-$4');

        }

        function aplicarMascaraRG() {
            var campo = document.getElementById('rg');
            campo.value = formatRG(campo.value);
        }

    </script>


    <script>
        function consultarCEP() {
            // Obtém o valor do CEP digitado pelo usuário
            var cep = document.getElementById('cep').value;


            if (cep.length >= 8) {
                // Monta a URL da API do ViaCEP com o CEP fornecido
                var url = 'https://viacep.com.br/ws/' + cep + '/json/';

                // Faz a requisição AJAX
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        // Parseia a resposta JSON
                        var resposta = JSON.parse(xhr.responseText);

                        // Atualiza os campos no HTML com os dados do CEP
                        document.getElementById('address').value = resposta.logradouro;
                        // document.getElementById('complemento').value = resposta.complemento;
                        document.getElementById('neighborhood').value = resposta.bairro;
                        document.getElementById('city').value = resposta.localidade;
                        document.getElementById('state').value = resposta.uf;
                    }
                };

                xhr.open('GET', url, true);
                xhr.send();
            }
        }
    </script>


{% endblock %}