<!DOCTYPE html>
<html lang="pt">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if title is defined %}{{ title }}{% endif %}</title>

    <link rel="stylesheet" href="{{ asset(path ~'vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'vendors/css/vendor.bundle.base.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'css/demo_1/style.css')}}">
    <link rel="shortcut icon" href="{{ asset(path ~'images/favicon.ico')}}" />

</head>
<body class="bg-white">
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
            <div class="row flex-grow">
                <div class="col-lg-6 d-flex align-items-center justify-content-center">
                    <div class="auth-form-transparent text-left p-3">

                        {%  if error is defined %}
                            <div class="alert alert-danger" role="alert">
                                <strong>{{ type_error }}</strong> {{ message_error}}
                            </div>
                        {% endif %}

                        <h4>Acesse o Portal do Cliente</h4>
                        <form class="pt-3" action="{{ path('client_login') }}" method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail">Informe o CPF/CNPJ ou e-mail</label>
                                <div class="input-group">
                                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                          <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg border-left-0" id="user_login"
                                           name="user_login" value="{% if user is defined %}{{ user }}{% endif %}" placeholder="Informe o CPF/CNPJ" oninput="aplicarMascara()" maxlength="18" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword">Senha</label>
                                <div class="input-group">
                                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                          <i class="mdi mdi-lock-outline text-primary"></i>
                               </span>
                                    </div>
                                    <input type="password" class="form-control form-control-lg border-left-0" id="exampleInputPassword" name="password" placeholder="Senha" required>
                                </div>
                            </div>
                            <div class="my-2 d-flex justify-content-between align-items-center">

                                <a href="#" class="auth-link text-black">Esqueci minha senha</a>
                            </div>
                            <div class="my-3">
                                <button type="submit" class="btn btn-primary">Acessar</button>
                            </div>
                            <div class="text-center mt-4 font-weight-light"> Ainda nao tem cadastro? <a href="register-2.html" class="text-primary">Cadastre-se</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 login-half-bg d-flex flex-row">
                    <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2023 https://dev-louco.net/ All rights reserved.</p>
                </div>



            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script src="{{ asset(path ~'vendors/js/vendor.bundle.base.js')}}"></script>
<script src="{{ asset(path ~'js/off-canvas.js')}}"></script>
<script src="{{ asset(path ~'js/hoverable-collapse.js')}}"></script>
<script src="{{ asset(path ~'js/misc.js')}}"></script>
<script src="{{ asset(path ~'js/settings.js')}}"></script>
<script src="{{ asset(path ~'js/todolist.js')}}"></script>
<script src="{{ asset(path ~'js/jquery.cookie.js')}}"></script>
<!--23.170.311/0001-02!-->

<script>
    function formatarCpfCnpj(valor) {
        valor = valor.replace(/\D/g, '');

        if (valor.length === 11) {
            return valor.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
        } else if (valor.length === 14) {
            return valor.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, '$1.$2.$3/$4-$5');
        } else {
            return valor;
        }
    }

    function aplicarMascara() {
        var campo = document.getElementById('user_login');
        campo.value = formatarCpfCnpj(campo.value);
    }
</script>

</body>
</html>