{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block css %}

    <link rel="stylesheet" href="{{ asset(path ~'vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'vendors/css/vendor.bundle.base.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'css/style.css')}}">
    <link rel="stylesheet" href="{{ asset(path ~'vendors/dropify/dropify.min.css')}}">
    <link rel="shortcut icon" href="{{ asset(path ~'images/favicon.ico')}}" />
{% endblock %}

{% block body %}

    <div class="main-panel">
        <div class="content-wrapper">
            {%  if error is defined %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ type_error }}</strong> {{ message_error}}
                </div>
            {% endif %}

            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar exclusão</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Tem certeza de que deseja excluir este item?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a  id="deleteLink" href="{{ path('delete_marchine', {'id': learning.id}) }}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-success card-img-holder text-white">
                        <div class="card-body">
                            <img src="{{asset(path ~'images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
                            <i class="mdi mdi-diamond mdi-24px float-end"></i>
                            <h2 class="mb-5">Roubo</h2>
                            <h6 class="card-text">é a subtração de bens, quando há ameaça ou violência, ou quando reduzem a possibilidade de resistência.</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-danger card-img-holder text-white">
                        <div class="card-body">
                            <img src="{{asset(path ~'images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
                            <i class="mdi mdi-chart-line mdi-24px float-end"></i>
                            <h2 class="mb-5">Furto Simples</h2>
                            <h6 class="card-text"> é quando também há a subtração de bens, mas sem vestígios que
                                comprovem a sua ocorrência, sem a destruição ou o rompimento de obstáculos e/ou sem violência constatada.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-info card-img-holder text-white">
                        <div class="card-body">
                            <img src="{{asset(path ~'images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
                            <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
                            <h2 class="mb-5">Furto Qualificado</h2>
                            <h6 class="card-text">é o furto cometido mediante arrombamento, destruição e/ou rompimento de obstáculo do local em que
                                estava guardado o celular, desde que tenha deixado vestígios e provas materiais evidentes de sua ocorrência.</h6>
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ title }}</h4>
                        <form class="form-sample" action="{{ path('app_marchine_view_edit_persist', {'id':learning.id }) }}" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Tipo</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" name="type">
                                                {% for type in types %}
                                                    <option value="{{ type.title }}" {{ type.title == learning.type ? "selected":"" }}>{{ type.title}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Descrição</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control" id="exampleTextarea1" rows="4" name="desc">{{ learning.description }}</textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">Delete</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset(path ~'vendors/js/vendor.bundle.base.js')}}"></script>
    <script src="{{ asset(path ~'js/off-canvas.js')}}"></script>
    <script src="{{ asset(path ~'js/hoverable-collapse.js')}}"></script>
    <script src="{{ asset(path ~'js/misc.js')}}"></script>
    <script src="{{ asset(path ~'js/settings.js')}}"></script>
    <script src="{{ asset(path ~'js/todolist.js')}}"></script>
    <script src="{{ asset(path ~'js/jquery.cookie.js')}}"></script>
    <script src="{{ asset(path ~'js/vendor.bundle.base.js')}}"></script>
    <script src="{{ asset(path ~'vendors/dropify/dropify.min.js')}}"></script>
    <script src="{{ asset(path ~'js/dropify.js')}}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}